@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  cursor: pointer;
  background-color: black !important;
  color: white;
}

.listOfProducts {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  >* {
    margin: 10px;
  }
  img {
    width: 100%;
  }
  h3 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  button {
    width: 50%;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
  }
}

#price {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  span:first-of-type {
    font-size: 25px;
  }
  div {
   display: flex;
   flex-direction: column;
  }
}
